*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
body{
    background-color: darkcyan;
}
.login-from{
    display: flex;
    justify-content: center;
}
.login-page{
    border-radius: 10px;
    background: white;
    width: 300px;
    height: 500px;
     font-size: 18px;
    padding: 150px 0 0 0 ; 
     align-items: center;
    justify-content: center;
      text-align: center;
       margin: 200px 0 0 0 ;
 }
 .login-page input{
    padding: 0 12px 0 12px;
    border-radius: 10px;
 }
 .login-page button{
    border-radius: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: green;
    padding: 0 18px 0 18px;
    outline: none;
    font-weight: bold;

 }
 .login-page button:hover{
   background-color: rgb(255, 230, 0);

 }
 .login-page h1{
    position: relative;
    bottom: 5rem;
    font-size: 2rem;
    color: red;
    
 }
 